<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
    <h1>Welcome to My Flask Blog!</h1>

    {% for post in posts %}
    <div class="card">
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p><em>Written by {{ post.author }}</em></p>
            <p>{{ post.content }}</p>
        </div>
        <div class="controls">
            <a href="/update/{{ post.id }}" title="Update {{ post.title }}">✏️️</a>
            <a href="/delete/{{ post.id }}" title="Remove {{ post.title }}">🗑️</a>
            <span class="likes"><a href="/like/{{ post.id }}" title="Like {{ post.title }}">👍</a> {{post.likes}}</span>
            <span class="likes"><a href="/dislike/{{ post.id }}" title="Dislike {{ post.title }}">👎️</a> {{post.dislikes}}</span>
        </div>
    </div>
    {% endfor %}

    <a class="button" href="/add">Add a post</a>
    </div>
</body>
</html>
